.*/
gems/
projects/
.nvm/
.oh-my-zsh/
.bash_history
.bash_logout
.bashrc
.gitconfig
.lesshst
.motd_shown
.profile
.python_history
.shell.pre-oh-my-zsh
.sudo_as_admin_successful
.tmux.conf
.wget-hsts
.zcompdump
.zcompdump-tower-5.8.1
.zcompdump-tower-5.8.1.zwc
.zsh_history
